<form class="form-group" method="POST" action="">
    <br/>
    <label>CPF or CNPJ: </label>
        <input class="form-control" type="text" name="cpf" placeholder="Insert your cpf ou cnpj registred" required="required"/>

    <br/>
    <label>Password: </label>
        <input class="form-control" type="password" name="password" placeholder="Insert your password" required="required"/>

    <br/>
    <button class="btn btn-success">Login</button>
</form>
