<footer class="col-xl-12 col-lg-12 col-md-12 col-sm-12 background-color-footer mt-5">
    <h2 class="p-3 text-center">
        Website of airbnb make for studys
    </h2>
    <h2 class="p-3 text-center">
        Gustavo S. Melo
    </h2>
</footer>
