<br/>
<h3>Explore the Airbnb</h3>

<section class="row">
    <article class="col-xl-3 col-lg-3 col-md-6 col-sm-12 col-12">
        <a href="#" class="text-dark">
            <section class="card">
                <img class="img-fluid img-thumbnail rounded" src="/img/bedroom-416062_640.jpg"/>
                <h3 class=" alink">Hotels</h3>
            </section>
        </a>
    </article>

    <article class="col-xl-3 col-lg-3 col-md-6 col-sm-12 col-12">
        <a href="#" class="text-dark">
            <section class="card">
                <img class="img-fluid img-thumbnail rounded" src="/img/couple-1209790_640.jpg"/>
                <h3 class="alink">Experiencs</h3>
            </section>
        </a>
    </article>

    <article class="col-xl-3 col-lg-3 col-md-6 col-sm-12 col-12">
        <a href="#" class="text-dark">
            <section class="card">
                <img class="img-fluid img-thumbnail rounded" src="/img/aurora-1185464_640.jpg"/>
                <h3 class="alink">Adventures</h3>
            </section>
        </a>
    </article>

    <article class="col-xl-3 col-lg-3 col-md-6 col-sm-12 col-12">
        <a href="#" class="text-dark">    
            <section class="card">
                <img class="img-fluid img-thumbnail rounded" src="/img/glasses-919071_960_720.jpg"/>
                <h3 class=" alink">Restaurant</h3>
            </section>
        </a>
    </article>
    
</section>

<section class="row mt-5">
    <h2>Introduction the Airbnb Luxe</h2>
    <article class="jumbotron">
        <section class="col-xl-6 col-lg-6 col-md-6 col-sm-12 float-left">
            <h3 class="padding-top">
                <i class="fab fa-airbnb color-purple"> Luxe</i>
                <br/><h3>Extraordinary 5 Star Accommodations in Everything</h3>
                <a class="color-purple" href="#">Explore Airbnb Luxe ></a>
        </section>

        <section class="col-xl-6 col-lg-6 col-md-6 col-sm-12 float-left">
            <figure>
                <img class="img-fluid rounded" src="/img/paris.jpg"/>
            </figure>
        </section>
    </article>
</section>

<h2>Recommend for you</h2>
<article class="row mt-5">
    
    
    <section class="card text-black col-xl-3 col-lg-3 col-md-6 col-sm-12">
        <img class="card-img rounded" src="/img/eiffel-tower-1156146_1280.jpg"/>
        <section class="card-img-overlay">
            <h3 class="card-title">Europa</h3>
            <p>price average: 500US$</p>
        </section>
    </section>

    <section class="card  text-white col-xl-3 col-lg-3 col-md-6 col-sm-12">
        <img class="card-img rounded" src="/img/eiffel-tower-1156146_1280.jpg"/>
        <section class="card-img-overlay">
            <h3 class="card-title">Europa</h3>
            <p>price average: 500US$</p>
        </section>
    </section>

    <section class="card  text-white col-xl-3 col-lg-3 col-md-6 col-sm-12">
        <img class="card-img img-fluid img rounded" src="/img/eiffel-tower-1156146_1280.jpg"/>
        <section class="card-img-overlay">
            <h3 class="card-title">Europa</h3>
            <p>price average: 500US$</p>
        </section>
    </section>

    <section class="card  text-white col-xl-3 col-lg-3 col-md-6 col-sm-12">
        <img class="card-img img-fluid rounded" src="/img/eiffel-tower-1156146_1280.jpg"/>
        <section class="card-img-overlay">
            <h3 class="card-title">Europa</h3>
            <p>price average: 500US$</p>
        </section>
    </section>
</article>
