<br/>
<h3>Explore o Airbnb</h3>

<section class="row">
    <article class="col-xl-3 col-lg-3 col-md-6 col-sm-12 col-12">
        <a href="#" class="text-dark">
            <section class="card">
                <img class="img-fluid img-thumbnail" src="/img/paris.jpg"/>
                <h2 class="text-center alink">Estadias</h2>
            </section>
        </a>
    </article>

    <article class="col-xl-3 col-lg-3 col-md-6 col-sm-12 col-12">
        <a href="#" class="text-dark">
            <section class="card">
                <img class="img-fluid img-thumbnail" src="/img/paris.jpg"/>
                <h2 class="text-center alink">Experiencias</h2>
            </section>
        </a>
    </article>

    <article class="col-xl-3 col-lg-3 col-md-6 col-sm-12 col-12">
        <a href="#" class="text-dark">
            <section class="card">
                <img class="img-fluid img-thumbnail" src="/img/paris.jpg"/>
                <h2 class="text-center alink">Aventuras</h2>
            </section>
        </a>
    </article>

    <article class="col-xl-3 col-lg-3 col-md-6 col-sm-12 col-12">
        <a href="#" class="text-dark">    
            <section class="card">
                <img class="img-fluid img-thumbnail" src="/img/paris.jpg"/>
                <h2 class="text-center alink">Restaurantes</h2>
            </section>
        </a>
    </article>
    
</section>
<section class="row">
    <section class="jumbotron mt-5">
        <section class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
            <h3 class="mt-3">Acomodações extraordinarias cinco estrelas em tudo</h3>
        </section>

        <section class="col-xl-6 col-lg-6 col-md-6 col-sm-12 float-right">
            <img class="img-fluid" src="/img/paris.jpg"/>
        </section>
    </section>
</section>
