@charset "utf-8";

.color-red{
    color: #d65e5e;
}

.link-onmouse :hover{
    border-bottom: #252525;
    transition: 1s;
}

.alink{
    color: #101010;
}

.alink h2 :hover{
    text-decoration: none;
}

.hearthLink{
    color: #101010;
}

.hearthLink:hover{
    color: #b84545;
}

.lovedlink{
    color: #b84545;
}

.lovedlink:hover{
    color: #101010;
}

.padding-top{
    padding-top: 120px;
}

.color-purple{
    color: #572581;
}

.not-background-btn{
    background-color: #ffffff00;
    border: none;
}

.btn-facebook{
    background-color: #224d9e;
    color: #fff;
    margin: 10px;
    padding: 20px;
    border: none;
    border-radius: 20px;
    text-align: center;
}

.btn-gmail{
    background-color: #b84545;
    color: #fff;
    margin: 10px;
    padding: 20px;
    border: none;
    border-radius: 20px;
    text-align: center;
}

.card{
    border: none;
}

#map{
    width: 100%;
    height: 100vh;
}

.thumbnail-img-size{
    width: 50%;
    height: 75%;
    border-radius: 15px;
}

.card-custom{
    width: 30vh;
    box-shadow: 1px 1px 3px #505050;
    margin: 5px;
}

.card-link{
    color: #606060;
}

.card-link:hover{
    color: #303030;
}

.card-custom img{
    width: 100%;
    height: 100%;
}
.color-yellow{
    color: #dfe245;
    text-shadow: 1px 1px 2px #909090;
}

.font-custom{
    font-size: 18pt;
}

.page-figure img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    box-shadow: 2px 2px 4px #707070;
}

.color-green-custom{
    color: #53fb29;
    text-shadow: 1px 1px 2px #909090;
}


@media screen and (max-width: 970px){
    .searchbar{
        visibility: hidden;
    }
}