<form method="POST" class="text-center" action="/user/login">
    <button class="btn-facebook">LogIn with Facebook <i class="fab fa-facebook-square"></i> </button>
    <button class="btn-gmail">LogIn with Gmail <i class="fab fa-google"></i></button>
    <input type="email" placeholder="Insert your email registred... " name="email" class="form-control"/>
    <input type="password" placeholder="Insert your secret password... " name="password" class="form-control"/>
    <br/>
    <button type="submit" class="btn btn-success">Login</button>
</form>