<form method="POST" class="text-center m-auto" action="/user/register/created">

    <button type="button" class="btn-gmail m-5">Enter with with Gmail <i class="fab fa-google"></i> </button>
    <button type="button" class="btn-facebook m-5">Enter with Facebook <i class="fab fa-facebook-square"></i> </button>


    <article class="card">
        <section class="card-body">
            <input type="text" class="form-control" name="name" placeholder="Insert your name here... " required="required"/>
        
            <br/>
            <input type="email" class="form-control" name="email" placeholder="Insert your email here... " required="required"/>

            <br/>
            <input type="password" class="form-control" name="password" placeholder="Insert your secret password... " required="required"/>

            <br/>
            <input type="date" class="form-control" name="birth" required="required" />

            <br/>
            <button type="submit" class="btn btn-success"> <i class="fas fa-check"></i> Register</button>
        </section>
    </article>
</form>
